<div class="row wrapper border-bottom white-bg page-heading animated fadeInRight">
    <div class="col-sm-5">
        <h2>Edit Consultation</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a ui-sref="patient.patients_list">Patient list</a>
            </li>
            <li>
                <a ui-sref="consultation.consultation_list({patientid:consultation.patientId})">Consultation list</a>
            </li>
            <li class="active">
                <strong>Edit Consultation</strong>
            </li>
        </ol>
    </div>
    
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class=" animated fadeInRightBig">
             <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit consultation
                        <small> Fields with (*) are required .</small>
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal" name="editConsultationForm">
                        <div class="form-group"><label class="col-sm-2 control-label">Title :<small>*</small></label>
                            <input type="hidden" ng-model="consultation.id"/>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="consultation.title" placeholder="Title">
                            </div>

                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Blood pressure</label>

                            <div class="col-sm-8 text-center">
                                <div class="m-r-md inline">
                                    <div class="well" style="background-color: rgba(245, 245, 245, 0.22); margin-bottom: 5px; padding: 10px;">
                                        <h5 class="text-center">Systolic</h5>


                                        <knob knob-data="consultation.systolic" class="m-r-sm" data-fgColor="#ED5565" data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="90" data-max="250">
                                        </knob>
                                    </div>
                                </div>
                                <div class="m-r-md inline">
                                    <div class="well" style="background-color: rgba(245, 245, 245, 0.22); margin-bottom: 5px; padding: 10px;">
                                        <h5 class="text-center">Diastolic</h5>
                                        <knob knob-data="consultation.diastolic" class="m-r-sm" data-fgColor="#59B0F7" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="60" data-max="140">
                                        </knob>
                                    </div>
                                </div>
                                <div class="m-r-md inline">
                                    <div class="well" style="background-color: rgba(245, 245, 245, 0.22); margin-bottom: 5px; padding: 10px;">
                                        <h5 class="text-center">Heart Rate<small>/min</small></h5>
                                        <knob knob-data="consultation.heartRate" class="m-r-sm" data-fgColor="#59B0F7" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="50" data-max="200">
                                        </knob>
                                    </div>
                                </div>
                                <div class="m-r-md inline">
                                    <div class="well" style="background-color: rgba(245, 245, 245, 0.22); margin-bottom: 5px; padding: 10px;">
                                        <h5 class="text-center">Temprature<small>°</small></h5>
                                        <knob knob-data="consultation.temprature" class="m-r-sm" data-fgColor="#ED5565" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="30" data-max="41">
                                        </knob>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Clinic :</label>
                            <div class="col-sm-8">
                                <!--<textarea class="form-control" ng-model="consultation.subjective" rows="6"></textarea>-->
                                <select-clinic doctor-id="{{rootDoctorId}}" my-directive-var="consultation"></select-clinic>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Subjective :</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" ng-model="consultation.subjective" rows="6"></textarea>
                            </div>
                        </div> 
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Objective :</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" ng-model="consultation.objective" rows="6"></textarea>
                            </div>
                        </div> 
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Assessment :</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" ng-model="consultation.assessment" rows="6"></textarea>
                            </div>
                        </div> 

                        <div class="hr-line-dashed"></div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Plan–intended :</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" ng-model="consultation.plan" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Additional Information :</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" ng-model="consultation.additionalInformation" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" ng-click="all()">
                            <label class="col-sm-2 control-label">Cost</label>
                            <!-- data-ng-controller="ionSlider as slider"-->
                            <div class="col-sm-6"  >
                                <div ion-range-slider  range-options="SliderCost"></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Paid</label>
                            <!--data-ng-controller="ionSlider as slider"-->
                            <div class="col-sm-6" >
                                <div ion-range-slider   range-options="SliderPaid"></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="submit" ng-click="cancel(editConsultationForm)" >Cancel</button>
                                <button class="btn btn-primary" type="submit" ladda="loading" data-style="expand-right" ng-click="submit()" ng-disabled="editConsultationForm.$invalid">Save changes</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>