<div class="row wrapper border-bottom white-bg page-heading animated fadeInRight">
    <div class="col-sm-5">
        <h2>Consultation config</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a ui-sref="patient.patients_list">Patient list</a>
            </li>
            <li class="active">
                <strong>New Consultation</strong>
            </li>
        </ol>
    </div>
    
</div>
<div class="row" >
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class=" animated fadeInRightBig">
                <div class="tabs-container">
                    <tabset>
                        <tab heading="Main">
                            <form method="get" class="form-horizontal" name="newConsultationForm">
                                <div class="form-group" ng-class="{'has-error':newConsultationForm.inputTitle.$invalid && newConsultationForm.inputTitle.$dirty}">
                                    <label class="col-sm-2 control-label">Title :<small>*</small></label>
                                    <input type="hidden" ng-model="consultation.id" />
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="consultation.title" placeholder="Title" name="inputTitle" required ng-minlength="3" ng-maxlength="30" ng-pattern="main.validation.alpha_d">
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-2 text-left m-b-n font-xs">
                                        <!-- Validation -->
                                        <div class="help-block m-b-n m-t-none display-box" ng-messages="newConsultationForm.inputTitle.$error" ng-if="newConsultationForm.inputTitle.$dirty" ng-messages-include="ngmessages.html">
                                            <div ng-show="newConsultationForm.inputTitle.$error.pattern">Only letters and numbers -_. are allowed !</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Blood pressure</label>

                                    <div class="col-sm-8 text-center">
                                        <div class="m-r-md inline">
                                            <div class="well" style="background-color: rgba(245, 245, 245, 0.22); margin-bottom: 5px; padding: 10px;">
                                                <h5 class="text-center">Systolic</h5>


                                                <knob knob-data="consultation.systolic" class="m-r-sm" data-fgColor="#ED5565" data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="90" data-max="250">
                                                </knob>
                                            </div>
                                        </div>
                                        <div class="m-r-md inline">
                                            <div class="well" style="background-color: rgba(245, 245, 245, 0.22); margin-bottom: 5px; padding: 10px;">
                                                <h5 class="text-center">Diastolic</h5>
                                                <knob knob-data="consultation.diastolic" class="m-r-sm" data-fgColor="#59B0F7" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="60" data-max="140">
                                                </knob>
                                            </div>
                                        </div>
                                        <div class="m-r-md inline">
                                            <div class="well" style="background-color: rgba(245, 245, 245, 0.22); margin-bottom: 5px; padding: 10px;">
                                                <h5 class="text-center">Heart Rate<small>/min</small></h5>
                                                <knob knob-data="consultation.heartRate" class="m-r-sm" data-fgColor="#59B0F7" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="50" data-max="200">
                                                </knob>
                                            </div>
                                        </div>
                                        <div class="m-r-md inline">
                                            <div class="well" style="background-color: rgba(245, 245, 245, 0.22); margin-bottom: 5px; padding: 10px;">
                                                <h5 class="text-center">Temprature<small>°</small></h5>
                                                <knob knob-data="consultation.temprature" class="m-r-sm" data-fgColor="#ED5565" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="30" data-max="41">
                                                </knob>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Clinic :</label>
                                    <div class="col-sm-8">
                                        <!--<textarea class="form-control" ng-model="consultation.subjective" rows="6"></textarea>-->
                                        <select-clinic doctor-id="{{rootDoctorId}}" my-directive-var="consultation"></select-clinic>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group" ng-class="{'has-error':newConsultationForm.inputSubjective.$invalid && newConsultationForm.inputSubjective.$dirty}" ng-click="check()">
                                    <label class="col-sm-2 control-label">Subjective :</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" ng-model="consultation.subjective" rows="6" name="inputSubjective" ng-pattern="main.validation.alpha_d"></textarea>
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-2 text-left m-b-n font-xs">
                                        <!-- Validation -->
                                        <div class="help-block m-b-n m-t-none display-box" ng-messages="newConsultationForm.inputSubjective.$error" ng-if="newConsultationForm.inputSubjective.$dirty" ng-messages-include="ngmessages.html">
                                            <div ng-show="newConsultationForm.inputSubjective.$error.pattern">Only letters and numbers -_. are allowed !</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" ng-class="{'has-error':newConsultationForm.inputObjective.$invalid && newConsultationForm.inputObjective.$dirty}">
                                    <label class="col-sm-2 control-label">Objective :</label>
                                    <div class="col-sm-8" ng-controller="modalDemoCtrl">
                                        <textarea class="form-control" ng-model="consultation.objective" rows="6" name="inputObjective" ng-pattern="main.validation.alpha_d"></textarea>
                                        <a ng-click="main.labTabActive()" id="labo"><i class="fa fa-desktop"></i> Add laboratory Data</a>
                                        &nbsp; | &nbsp;
                                        <a ng-click="mission()">
                                            <i class="fa fa-plus"></i>&nbsp;Add Note
                                        </a>
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-2 text-left m-b-n font-xs">
                                        <!-- Validation -->
                                        <div class="help-block m-b-n m-t-none display-box" ng-messages="newConsultationForm.inputObjective.$error" ng-if="newConsultationForm.inputObjective.$dirty" ng-messages-include="ngmessages.html">
                                            <div ng-show="newConsultationForm.inputObjective.$error.pattern">Only letters and numbers -_. are allowed !</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group" ng-class="{'has-error':newConsultationForm.inputAssessment.$invalid && newConsultationForm.inputAssessment.$dirty}">
                                    <label class="col-sm-2 control-label">Assessment :</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" ng-model="consultation.assessment" rows="6" name="inputAssessment" ng-pattern="main.validation.alpha_d"></textarea>
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-2 text-left m-b-n font-xs">
                                        <!-- Validation -->
                                        <div class="help-block m-b-n m-t-none display-box" ng-messages="newConsultationForm.inputAssessment.$error" ng-if="newConsultationForm.inputAssessment.$dirty" ng-messages-include="ngmessages.html">
                                            <div ng-show="newConsultationForm.inputAssessment.$error.pattern">Only letters and numbers -_. are allowed !</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group" ng-class="{'has-error':newConsultationForm.inputPlan.$invalid && newConsultationForm.inputPlan.$dirty}">
                                    <label class="col-sm-2 control-label">Plan–intended :</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" ng-model="consultation.plan" rows="6" name="inputPlan" ng-pattern="main.validation.alpha_d"></textarea>
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-2 text-left m-b-n font-xs">
                                        <!-- Validation -->
                                        <div class="help-block m-b-n m-t-none display-box" ng-messages="newConsultationForm.inputPlan.$error" ng-if="newConsultationForm.inputPlan.$dirty" ng-messages-include="ngmessages.html">
                                            <div ng-show="newConsultationForm.inputPlan.$error.pattern">Only letters and numbers -_. are allowed !</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" ng-class="{'has-error':newConsultationForm.inputAdditionalInformation.$invalid && newConsultationForm.inputAdditionalInformation.$dirty}">
                                    <label class="col-sm-2 control-label">Additional Information :</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" ng-model="consultation.additionalInformation" rows="6" name="inputAdditionalInformation" ng-pattern="main.validation.alpha_d"></textarea>
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-2 text-left m-b-n font-xs">
                                        <!-- Validation -->
                                        <div class="help-block m-b-n m-t-none display-box" ng-messages="newConsultationForm.inputAdditionalInformation.$error" ng-if="newConsultationForm.inputAdditionalInformation.$dirty" ng-messages-include="ngmessages.html">
                                            <div ng-show="newConsultationForm.inputAdditionalInformation.$error.pattern">Only letters and numbers -_. are allowed !</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group" ng-click="all()">
                                    <label class="col-sm-2 control-label">Cost</label>
                                    <!-- data-ng-controller="ionSlider as slider"-->
                                    <div class="col-sm-6">
                                        <div ion-range-slider range-options="SliderCost"></div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Paid</label>
                                    <!--data-ng-controller="ionSlider as slider"-->
                                    <div class="col-sm-6">
                                        <div ion-range-slider range-options="SliderPaid"></div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-white" type="submit" ng-click="cancel(newConsultationForm)">Cancel</button>
                                        <button class="btn btn-primary" type="submit" ladda="loading" data-style="expand-right" ng-click="submit()" ng-disabled="newConsultationForm.$invalid">Save changes</button>
                                    </div>
                                </div>

                            </form>

                            <!--<form method="get" class="form-horizontal" style="margin-top:15px;">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Title <small>*</small></label>

                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="Enter First Name">
                                    </div>

                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Blood pressure</label>

                                    <div class="col-sm-8 text-center">
                                        <div class="m-r-md inline">
                                            <div class="well" style="background-color:rgba(245, 245, 245, 0.22);margin-bottom: 5px;padding: 10px;">
                                                <h5 class="text-center">Systolic</h5>
                                                <knob knob-data="main.knobSystolic" class="m-r-sm" data-fgColor="#ED5565" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="90" data-max="250">
                                                </knob>
                                            </div>
                                        </div>
                                        <div class="m-r-md inline">
                                            <div class="well" style="background-color:rgba(245, 245, 245, 0.22);margin-bottom: 5px;padding: 10px;">
                                                <h5 class="text-center">Diastolic</h5>
                                                <knob knob-data="main.knobDiastolic" class="m-r-sm" data-fgColor="#59B0F7" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="60" data-max="140">
                                                </knob>
                                            </div>
                                        </div>
                                        <div class="m-r-md inline">
                                            <div class="well" style="background-color:rgba(245, 245, 245, 0.22);margin-bottom: 5px;padding: 10px;">
                                                <h5 class="text-center">Heart Rate<small>/min</small></h5>
                                                <knob knob-data="main.KnobHeartRate" class="m-r-sm" data-fgColor="#59B0F7" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="50" data-max="200">
                                                </knob>
                                            </div>
                                        </div>
                                        <div class="m-r-md inline">
                                            <div class="well" style="background-color:rgba(245, 245, 245, 0.22);margin-bottom: 5px;padding: 10px;">
                                                <h5 class="text-center">Temprature<small>°</small></h5>
                                                <knob knob-data="main.KnobTemperature" class="m-r-sm" data-fgColor="#ED5565" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="30" data-max="41">
                                                </knob>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Subjective :</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" rows="6"></textarea>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Objective :</label>
                                    <div class="col-sm-8" ng-controller="modalDemoCtrl">
                                        <textarea class="form-control" rows="6"></textarea>
                                        <a ng-click="main.labTabActive()" id="labo"><i class="fa fa-desktop"></i> Add laboratory Data </a> &nbsp; | &nbsp;
                                        <a ng-click="mission()">
                                            <i class="fa fa-plus"></i>&nbsp;Add Note
                                        </a>

                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Assessment :</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" rows="6"></textarea>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Plan–intended :</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" rows="6"></textarea>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Cost</label>
                                    <div class="col-sm-6" data-ng-controller="ionSlider as slider">
                                        <div ion-range-slider range-options="slider.ionSliderOptions8"></div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Paid</label>
                                    <div class="col-sm-6" data-ng-controller="ionSlider as slider">
                                        <div ion-range-slider range-options="slider.ionSliderOptions8"></div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-white" type="submit">Cancel</button>
                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                    </div>
                                </div>
                            </form>-->
                        </tab>
                        <tab heading="Objective - Media" active="main.isActive">
                            <strong>Media</strong>
                            <p>Video</p>
                            <p>Pictures</p>
                        </tab>

                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
