<div class="row wrapper border-bottom white-bg page-heading animated fadeInRight">
    <div class="col-sm-5">
        <h2>FollowUp config</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a ui-sref="patient.patients_list">Patient list</a>
            </li>
            <li>
                <a ui-sref="consultation.consultation_list({patientid:idOfpatient})">Consultation list</a>
            </li>
            <li class="active">
                <strong>FollowUp </strong>
            </li>
        </ol>
    </div>
    
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class=" animated fadeInRightBig">
                <div class="tabs-container">
                    <tabset>
                        <tab heading="Main">
                            <form method="get" class="form-horizontal" style="margin-top:15px;" name="editFollowUpForm">
                                <div class="form-group" ng-class="{'has-error':editFollowUpForm.inputTitle.$invalid && editFollowUpForm.inputTitle.$dirty}">
                                    <label class="col-sm-2 control-label">Title <small>*</small></label>

                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="followUp.title" placeholder="Title" name="inputTitle" required  ng-maxlength="50" ng-pattern="main.validation.alpha_d">
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-2 text-left m-b-n font-xs">
                                        <!-- Validation -->
                                        <div class="help-block m-b-n m-t-none display-box" ng-messages="editFollowUpForm.inputTitle.$error" ng-if="editFollowUpForm.inputTitle.$dirty" ng-messages-include="ngmessages.html">
                                            <div ng-show="editFollowUpForm.inputTitle.$error.pattern">Only letters and numbers -_. are allowed !</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Blood pressure</label>

                                    <div class="col-sm-8 text-center">
                                        <div class="m-r-md inline">
                                            <div class="well" style="background-color: rgba(245, 245, 245, 0.22); margin-bottom: 5px; padding: 10px;">
                                                <h5 class="text-center">Systolic</h5>
                                                <knob knob-data="followUp.systolic" class="m-r-sm" data-fgColor="#ED5565" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="90" data-max="250">
                                                </knob>
                                            </div>
                                        </div>
                                        <div class="m-r-md inline">
                                            <div class="well" style="background-color: rgba(245, 245, 245, 0.22); margin-bottom: 5px; padding: 10px;">
                                                <h5 class="text-center">Diastolic</h5>
                                                <knob knob-data="followUp.diastolic" ng-init="100" class="m-r-sm" data-fgColor="#59B0F7" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="60" data-max="140">
                                                </knob>
                                            </div>
                                        </div>
                                        <div class="m-r-md inline">
                                            <div class="well" style="background-color: rgba(245, 245, 245, 0.22); margin-bottom: 5px; padding: 10px;">
                                                <h5 class="text-center">Heart Rate<small>/min</small></h5>
                                                <knob knob-data="followUp.heartRate" class="m-r-sm" data-fgColor="#59B0F7" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="50" data-max="200">
                                                </knob>
                                            </div>
                                        </div>
                                        <div class="m-r-md inline">
                                            <div class="well" style="background-color: rgba(245, 245, 245, 0.22); margin-bottom: 5px; padding: 10px;">
                                                <h5 class="text-center">Temprature<small>°</small></h5>
                                                <knob knob-data="followUp.temprature" class="m-r-sm" data-fgColor="#ED5565" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="30" data-max="41">
                                                </knob>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Clinic :</label>
                                    <div class="col-sm-8">
                                        <!--<textarea class="form-control" ng-model="consultation.subjective" rows="6"></textarea>-->
                                        <select-clinic doctor-id="{{rootDoctorId}}" my-directive-var="consultation"></select-clinic>

                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group" ng-class="{'has-error':editFollowUpForm.inputSubjective.$invalid && editFollowUpForm.inputSubjective.$dirty}">
                                    <label class="col-sm-2 control-label">Subjective :</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" ng-model="followUp.subjective" rows="6" name="inputSubjective" ng-pattern="main.validation.alpha_d"></textarea>
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-2 text-left m-b-n font-xs">
                                        <!-- Validation -->
                                        <div class="help-block m-b-n m-t-none display-box" ng-messages="editFollowUpForm.inputSubjective.$error" ng-if="editFollowUpForm.inputSubjective.$dirty" ng-messages-include="ngmessages.html">
                                            <div ng-show="editFollowUpForm.inputSubjective.$error.pattern">Only letters and numbers -_. are allowed !</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" ng-class="{'has-error':editFollowUpForm.inputObjective.$invalid && editFollowUpForm.inputObjective.$dirty}">
                                    <label class="col-sm-2 control-label">Objective :</label>
                                    <div class="col-sm-8" ng-controller="modalDemoCtrl">
                                        <textarea class="form-control" ng-model="followUp.objective" rows="6" name="inputObjective" ng-pattern="main.validation.alpha_d"></textarea>
                                        <a ng-click="main.labTabActive()" id="labo"><i class="fa fa-desktop"></i> Add laboratory Data</a>
                                        &nbsp; | &nbsp;
                                        <a ng-click="mission()">
                                            <i class="fa fa-plus"></i>&nbsp;Add Note
                                        </a>
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-2 text-left m-b-n font-xs">
                                        <!-- Validation -->
                                        <div class="help-block m-b-n m-t-none display-box" ng-messages="editFollowUpForm.inputObjective.$error" ng-if="editFollowUpForm.inputObjective.$dirty" ng-messages-include="ngmessages.html">
                                            <div ng-show="editFollowUpForm.inputObjective.$error.pattern">Only letters and numbers -_. are allowed !</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group" ng-class="{'has-error':editFollowUpForm.inputAssessment.$invalid && editFollowUpForm.inputAssessment.$dirty}">
                                    <label class="col-sm-2 control-label">Assessment :</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" ng-model="followUp.assessment" rows="6" name="inputAssessment" ng-pattern="main.validation.alpha_d"></textarea>
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-2 text-left m-b-n font-xs">
                                        <!-- Validation -->
                                        <div class="help-block m-b-n m-t-none display-box" ng-messages="editFollowUpForm.inputAssessment.$error" ng-if="editFollowUpForm.inputAssessment.$dirty" ng-messages-include="ngmessages.html">
                                            <div ng-show="editFollowUpForm.inputAssessment.$error.pattern">Only letters and numbers -_. are allowed !</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group" ng-class="{'has-error':editFollowUpForm.inputPlan.$invalid && editFollowUpForm.inputPlan.$dirty}">
                                    <label class="col-sm-2 control-label">Plan–intended :</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" ng-model="followUp.plan" rows="6" name="inputPlan" ng-pattern="main.validation.alpha_d"></textarea>
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-2 text-left m-b-n font-xs">
                                        <!-- Validation -->
                                        <div class="help-block m-b-n m-t-none display-box" ng-messages="editFollowUpForm.inputPlan.$error" ng-if="editFollowUpForm.inputPlan.$dirty" ng-messages-include="ngmessages.html">
                                            <div ng-show="editFollowUpForm.inputPlan.$error.pattern">Only letters and numbers -_. are allowed !</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" ng-class="{'has-error':editFollowUpForm.inputAdditionalInformation.$invalid && editFollowUpForm.inputAdditionalInformation.$dirty}">
                                    <label class="col-sm-2 control-label">Additional Information :</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" ng-model="followUp.additionalInformation" rows="6" name="inputAdditionalInformation" ng-pattern="main.validation.alpha_d"></textarea>
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-2 text-left m-b-n font-xs">
                                        <!-- Validation -->
                                        <div class="help-block m-b-n m-t-none display-box" ng-messages="editFollowUpForm.inputAdditionalInformation.$error" ng-if="editFollowUpForm.inputAdditionalInformation.$dirty" ng-messages-include="ngmessages.html">
                                            <div ng-show="editFollowUpForm.inputAdditionalInformation.$error.pattern">Only letters and numbers -_. are allowed !</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Cost</label>
                                    <div class="col-sm-6">
                                        <div ion-range-slider range-options="SliderCost"></div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Paid</label>
                                    <div class="col-sm-6">
                                        <div ion-range-slider range-options="SliderPaid"></div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <!--<button class="btn btn-white" type="submit" ng-click="cancel(editFollowUpForm)">Cancel</button>-->
                                        <button class="btn btn-primary" type="submit" ladda="loading" ng-click="submit()" ng-disabled="editFollowUpForm.$invalid">Save changes</button>
                                    </div>
                                </div>
                            </form>
                        </tab>
                        <tab heading="Objective - Media" active="main.isActive">
                            <strong>Media</strong>
                            <p>Video</p>
                            <p>Pictures</p>
                        </tab>

                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
